body {
    margin:0px; 
    padding:0px;
    color:#aea79e;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body.default {
    background:#d7d5d3 url(/image/bg_body.gif) repeat-x;
}

a, a:link, a:visited, a:active{
    color:#ffffff;
    text-decoration: none;
    outline: none;
}
a:hover {
    text-decoration: none;
    color:#938778;
    outline: none;
}

img {
    border:none;
    outline: none;
}

.clear{
    clear:both;
}

.subheaders{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#938778;
    font-size:14px;
    /*line-height:16px;*/}	
.subheaders2{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#938778;
    font-size:14px;
    /*line-height:16px;*/}	
.headers {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#ffffff;
    font-size:36px;
}
.headers2 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#ffffff;
    font-size:18px;
}
.headers3 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#ffffff;
    font-size:18px;
}


#bg_header{
    background:url(/image/bg_header.png) no-repeat center top;
    min-width:1164px;/*1024*/
    height:76px;/*81*/
    position:relative;   
    clear:both;
    z-index:10000;
}

#header{
    width:1103px;
    padding-left: 80px;
    height:76px;
    position:relative;
    font-size:10px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#ffffff;
    clear:both;
    /*left: 50%;
    margin: 0 0 0 -614px;*/
    margin-left:auto;
    margin-right:auto;
    z-index:10001;
}
#logo{
    width:319px;
    height:76px;
    position: relative;
    float:left;
}

#topnav{
    position: relative;   
    height:28px;
    font-size:14px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#fff;
    float:left;
}
#topnav a, #topnav a:link, #topnav a:visited, #topnav a:active,
#cart a, #cart a:link, #cart a:visited, #cart a:active {
    font-size:14px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#fff;
    line-height:28px;
    padding: 1px 7px;
    text-decoration: none;
    text-transform: uppercase;
}
#topnav a:hover, #topnav a.selected, #cart a:hover {
    color:#000;
    text-decoration: none;
}

#cart{
    position: relative;   
    height:28px;
    float:left;
    padding-left:35px;
}


#mainnav{	
    position: relative;   
    height:48px;
    width:695px;	
    float:left;
    padding-left:10px;
    /*background:green;*/
}

/*MAIN NAVIGATION*/
#navmenu-h {
    margin:0;
    padding:0;
}
#navmenu-h img {
    border:none; 	
}
ul#navmenu-h {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index:1000;
}
ul#navmenu-h ul {
    min-width: 200px;
    margin: 0;
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 48px;
    margin: 0; 
    padding: 5px;

}

ul#navmenu-h li { float: left; display: inline; position: relative; }
ul#navmenu-h ul li { width: 100%; display: block; background:#221d19;}

/* Root Menu */
ul#navmenu-h a {
    float: left;
    display: block;
    background: #b6250a url('/image/mainnav_bg.png') right;
    height: 48px;
    color: #f0f0f0;
    text-shadow: 1px 1px 1px #333333;
    font-size: 20px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    line-height: 46px;
    padding: 0px 10px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}
ul#navmenu-h a:hover {
    background: #b6250a url('/image/mainnav_bg_hover.png') right;
}

ul#navmenu-h:first-child a {
    padding: 0px 2px;
}

/* 2nd Menu */
ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a {
    float: none;
    background: #221d19;
}
ul#navmenu-h li ul {
    height:513px; 
    background: #221d19;
}
ul#navmenu-h li ul li{
    padding:5px 5px 5px 0;
}
ul#navmenu-h li ul li a{
    padding:0;
    margin:0;
    height:17px;
    overflow:hidden;

    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
}

/* 2nd Menu Hover Persistence */
ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a {
    background: #b6250a;
}

/* Hover Function - Do Not Move */
ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul { display: none; }
ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul { display: block; }


#search_bar{
    position: relative;   
    height:26px;
    background-color:transparent;
    float:right;
    padding-top:2px;
    vertical-align:top;
    text-align:right;
} 
#search_bar label {
    position:relative;	
    height:22px;
    vertical-align:top;
    margin:0;
    padding:0;
}	
#search_bar label input { 
    position:relative;
    background:url(/image/bg_search.png) no-repeat;
    padding:0px 5px 5px 20px;
    border:0;
    width:111px;
    vertical-align:top;
    height:22px;
    line-height:22px;
}
#search_bar .go {
    height:22px;
    border: none;
    padding: 0px 5px;
    color: #b0b0b0;
    background: url('/image/go_header.png');
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


#splash_box_1 {
    position:absolute;
    top: 50%;
    left: 50%;
    height:184px;
    width:516px;
    margin-top: -92px; /* Half the height */
    margin-left: -258px; /* Half the width */
    cursor:pointer;
}
#splash_box_1 a {
    display: inline-block;
    width: 258px;
    height: 184px;
}
#splash_box_1 a.free {
    background: url('/image/splash_free.png');
}
#splash_box_1 a.stack {
    background: url('/image/splash_stack.png');
}
#splash_box_1 a.free:hover {
    background: url('/image/splash_free_hover.png');
}
#splash_box_1 a.stack:hover {
    background: url('/image/splash_stack_hover.png');
}


#content{
    position:relative;
    height:865px;
}

#main_feat{
    position: relative;   
    min-height:685px;/*542*/
    width:1164px;	/*1228 1164*/
    clear:both;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size:12px;
    margin-left:auto;
    margin-right:auto;
}
#main_feat a, #main_feat a:link, #main_feat a:visited, #main_feat a:active{
    color:#FFFFFF;
    text-decoration: none;
}
#main_feat a:hover {
    text-decoration: none;
    color:#b3b3b3;
}	
#feat_products{
    position: relative; 
    top:-60px;
    height:220px;/*228*/
    width:1162px;/*1170*/
    padding:4px;
    background:url(/image/bg_feat_products.png) repeat;
    margin-left:auto;
    margin-right:auto;
    clear:both;
    z-index:10;/*1000000*/
}

#bg_footer{
    background:#352e26;
    min-width:1164px;
}

#maincontent{
    position: relative;   
    min-height:585px;/*542*/
    width:1024px;	
    clear:both;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
}
#breadcrumbs{
    position: relative;   
    height:30px;
    width:512px;	
    float: left;
    font-size:12px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color:#fff;
    line-height:30px;
    text-transform:uppercase;
}
#breadcrumbs a, #breadcrumbs a:link, #breadcrumbs a:visited, #breadcrumbs a:active{
    color:#fff;
    text-decoration: none;
}
#breadcrumbs a:hover {
    text-decoration: none;
    color:#352e26;
}

#site_content{
    position: relative;   
    width:984px;/*1024*/
    min-height:502px;
    background:#352e26 url(/image/bg_features.jpg);
    clear:both;
    padding:20px;
    overflow:auto;
}

#site_subnav{
    position: relative;   
    width:260px;
    min-height:502px;
    color:#938778;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size:18px;
    text-transform:uppercase;
    float:left;
    padding-right:20px;
    overflow:hidden;
}
#site_subnav ul{ 
    margin:0;
    padding:0;
    list-style: none; 
    width:260px;
    padding-top:25px;
}
#site_subnav li{
    margin:0;
    padding:0;	
    display:block;
    padding:8px 0;
}	

#site_right{
    position: relative;   
    width:690px;
    min-height:502px;
    color:#938778;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size:14px;
    float:left;
    overflow:hidden;
    margin:0;
    padding:0;
}
#site_full{
    position: relative;   
    width:985px;
    min-height:502px;
    color:#938778;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size:14px;
    float:left;
    overflow:hidden;
    margin:0;
    padding:0;
}

#site_right h1{
    text-transform:uppercase;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size:36px;
    color:#FFF;
    display:inline;
    line-height:44px;
}
#site_full h1{
    text-transform:uppercase;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size:36px;
    color:#FFF;
    display:inline;
    line-height:44px;
}

#feature_category {
    position: relative;   
    width:1024px;/*988*/
    min-height:803px;/*610*/
    background:#221d18 url(/image/bg_feature_category.jpg) no-repeat;
    clear:both;
    color:#a3978a;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:18px;
    /*padding-right:36px;*/
    margin-bottom:20px;
}
#feature_category_descr{
    min-height:350px; 
}	
#feature_sub_category {
    position: relative;   
    width:1024px;/*988*/
    min-height:610px;
    background:#221d18 url(/image/bg_feature_category.jpg) no-repeat;
    clear:both;
    color:#a3978a;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:18px;
    /*padding-right:36px;*/
    margin-bottom:20px;
}
#feature_sub_category ul{ 
    margin:0;
    padding:0;
    list-style: none; 
    padding-top:5px;
    padding-left:19px;
    clear:both;
}
#feature_sub_category li{
    margin:0;
    padding:0;	
    float:left;
    padding-left:20px;
    padding-bottom:20px;
}	
#feature_category a{
    opacity:1;
}
#feature_category a:hover{
    opacity:0.7;
}
#feature_category_main{
    position: relative;   
    width:1024px;/*988*/
    height:367px;	
    clear:both;	
}

#product_scroll{   
    width:1004px;/*1024*/
    position:relative;
    min-height:300px;
    clear:both;	
    color:#63584d;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:18px;
    text-transform:uppercase;
    padding:15px 0 0 20px;
}
#product_scroll ul{ 
    margin:0;
    padding:0;
    list-style: none; 
    padding-top:5px;
    /*padding-left:19px;*/
    clear:both;
}
#product_scroll li{
    margin:0;
    padding:0;	
    float:left;
    /*padding-left:36px;*/
}	
#product_scroll a, #product_scroll a:link, #product_scroll a:visited, #product_scroll a:active{
    color:#ffffff;
    text-decoration: none;

}
#product_scroll a:hover {
    text-decoration: none; color:#938778;
}

a.catbrowse {  
    z-index:1000;
    opacity:0.7;
    margin:20px 0px 0 0px;
    width:40px;
    height:240px;
    display:block;
    position:absolute;
    cursor:pointer;
    top:20px;
}
a.catright,a.catright:active  {
    background:url(/image/scroll_right.png) no-repeat;
    right:0;
}
a.catright:hover{
    opacity:1;
}

#catitems ul {
    float:left;
    width:970px;
    margin:0;
    margin-left:15px;
    padding:0;
    z-index:1;
}
#catitems {
    margin-left:30px;
}
#catitems li {
    display:block; float:left; width:220px; overflow:hidden;  margin:6px 5px 6px 0; border:0;  background:#221d18; 
}

#feature_content{
    position: relative;   
    width:984px;/*1024*/
    min-height:482px;
    background:#352e26 url(/image/bg_features.jpg);
    clear:both;
    padding:20px;
}	
#feature_subnav{
    position: relative;   
    width:300px;
    min-height:280px;
    background:url(/image/bg_features_subnav.png) no-repeat;
    color:#938778;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:18px;
    font-weight: bold;
    text-transform:uppercase;
    float:left;
    padding-bottom:195px;
}
#feature_subnav ul{ 
    margin:0;
    padding:0;
    list-style: none; 
    width:240px;
    clear:both;
    /*padding-top:10px;*/
}
#feature_subnav li{
    margin:0;
    padding:0;	
    display:block;
    padding:6px 0;
}
#feature_subnav a, #feature_subnav a:link, #feature_subnav a:visited, #feature_subnav a:active, #site_subnav a, #site_subnav a:link, #site_subnav a:visited, #site_subnav a:active, #site_subnav_dealer a, #site_subnav_dealer a:link, #site_subnav_dealer a:visited, #site_subnav_dealer a:active{
    color:#938778;/*938778*/
    text-decoration: none;
}
#feature_subnav a:hover, #site_subnav a:hover, #site_subnav_dealer a:hover{ text-decoration: none; color:#fff;}
#feature_subnav .headers a, #feature_subnav .headers a:link, #feature_subnav .headers a:visited, #feature_subnav .headers a:active{
    color:#ffffff;
    text-decoration: none;
}
#feature_subnav .headers a:hover {
    text-decoration: none;
    color:#938778;
}
#feature_subnav a.in-cart {
    color:#fff;
    text-decoration: none;
}
#feature_subnav a.in-cart:hover {
    color:#ec3a18;
}

#feature_cms{
    color:#938778;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:16px;
    width:650px;
    min-height:120px;
    float:left;
    padding-top:15px;
    padding-left:30px;
    z-index:5;	
}

#feature_cms h2{
    text-transform:uppercase;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size:36px;
    color:#FFF;
    display:inline;
    line-height:60px;
}
ul.item_gallery{
    padding:0;
    margin:0;
}

ul.item_gallery  li{
    padding-right:10px;
    padding-bottom:6px;
    list-style:none;
    float:left;
}
.citemname{
    font-size:12px;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    color:#938778;
    text-transform:none;
    width:226px;
    overflow:hidden;
}
.citemcode{
    font-size:18px;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}

.exercise {
    min-height: 150px;
    margin-bottom: 20px;
}
.exercise .image {
    float: left;
}
.exercise .descr {
    padding-left: 150px;
}

#footer{
    width:1024px;
    margin:auto;
    text-align: center;
    margin-top: 20px;
}
#footer a {
    display: inline-block;
    margin-left: 27px;
}

/**FORMS CSS**/
#myForm1 input{
    color:#FFF;
    border:0;
    background:#29231d;
    width:450px;
    height:34px;
    padding:2px;
    font-size: 18px;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}
#myForm2 input,#billing input{
    color:#FFF;
    border:0;
    background:#29231d;
    width: 250px;
    height: 34px;
    padding: 2px;
    font-size: 18px;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}
#myForm1 select{
    background:#29231d;
    width: 454px;
    padding:2px;
    font-size:18px;
    border:0;
    height:34px;
    color:#FFF;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}
#myForm2 select,#billing select{
    background:#29231d;
    width: 254px;
    padding:2px;
    font-size:18px;
    border:0;
    height:34px;
    color:#FFF;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}
#myForm2 textarea,#billing textarea{
    background-color:#29231d;
    width:350px;
    color:#FFF;
    border:0;
    font-size: 18px;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}
/*RED SUBMIT BUTTONS*/
#myForm1 input.submit{
    background-color:#9a1f09;
    width:454px;
    color:#FFF;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}
#myForm2 input.submit{
    background-color:#9a1f09;
    width:254px;
    color:#FFF;
    font-family:'Trebuchet MS', Helvetica, sans-serif;
}